@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background:#363D47;
    /*background: linear-gradient( 135deg, #6C8CF4, #5FCCFF );*/
    /*background:#F4E5CC;*/
    width:1300px;
    margin:0 auto;
}

.page-wrapper{
    /*border:3px solid ivory;*/
    margin:100px 50px;
    display:flex;
}
.index-left-section{
    /*border:3px solid orange;*/
    margin:180px 0 20px 20px; /*margin-top으로 왼쪽구역 높이조절*/
    width:40%;
    height:390px;
}
.index-content{
    /*border:3px solid yellow;*/
    padding:5px;
    font-size:10pt;
    margin-top:0;
    margin-bottom:0;
    font-family: 'SLEIGothicTTF';
    color:#FFE268;
}
.index-title{
    /*border:3px solid darkcyan;*/
    margin-top:0px;
    font-family: 'Itim', cursive;
    padding:5px;
    font-size:53pt;
    color:#FFE268;
}
/*@media (max-width:800px){*/
/*    .index-title{*/
/*        color:red;*/
/*    }*/
/*}*/
.index-start-btn{
    background: #23a3a7;
    color:#363D47;
    border:none;
    padding:10px 20px 10px 20px;
    cursor:pointer;
    display:inline;
    border-radius: 15px;
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    transition: 0.4s;
    margin-right:20px;
}
.index-start-btn:hover{
    background:#23a3a7;
    color:white;
}
.index-right-section{
    /*border:3px solid olive;*/
    margin:20px;
    width:60%;
    height:600px;
}
.index-image{
    object-fit:contain;
    width:100%;
    height:100%;
}