@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*업로드하기*/
body{
    background-color:#363D47;
    width:1200px;
    margin:0 auto;
}
.page-wrapper{
    /*border:3px solid white;*/
    margin:120px 0px;
    /*padding:10px;*/
}
.upload-file-section{
    /*border:3px solid red;*/
    display:flex;
}
.upload-please{
    /*border:3px solid green;*/
    text-align:center;
    margin:0px auto;
    font-family: 'Itim', cursive;
    font-size:50pt;
    color:#FFE268;

}
.upload-section{
    /*border:3px solid blue;*/
    margin:0px auto;
    width:45%;
    height:100%;
}
.upload-section-in{
    /*border:3px solid orange;*/
    width:406px;
    margin:0 auto;
}
.image-tn{
    object-fit:contain;
    width:400px;
    height:400px;
    /*border:1px solid cyan;*/
    background:#292929;
    border-radius: 15px;
}
.video-tn{
    object-fit:contain;
    width:400px;
    height:400px;
    /*border:3px solid magenta;*/
    background:#292929;
    border-radius: 15px;
}
#video_container2, #video_container3{
    display:none;
}
.image-file-container{
    margin-top:5px;
    /*border:3px solid pink;*/
}
.image-file-container label{
    border-radius: 10px;
    text-align:center;
    /*border:3px solid yellow;*/
    display:inline-block;
    background:#23a3a7;
    color:#fff;
    cursor:pointer;
    width:80px;
    padding:5px 0 5px 0;
}
.image-file-container label:after{
    content:"파일선택";
}
.image-file-container .image-file-input{
    display:none;
}
.image-file-container .img-filename{
    background:white;
    border-radius: 10px;
    /*border:3px solid purple;*/
    display:inline-block;
    padding:5px 5px 5px 10px;
    width:292px;
}
.video-file-container{
    margin-top:5px;
    /*border:3px solid red;*/
}
.video-file-container label {
    border-radius: 10px;
    text-align: center;
    /*border:3px solid greenyellow;*/
    display: inline-block;
    background: #23a3a7;
    color: #fff;
    cursor: pointer;
    width: 80px;
    padding: 5px 0 5px 0;
}
.video-file-container label:after{
    content:"파일선택";
}
.video-file-container .video-file-input{
    display:none;
}
.video-file-container .vid-filename{
    background:white;
    border-radius: 10px;
    /*border:3px solid gray;*/
    display:inline-block;
    padding:5px 5px 5px 10px;
    width:292px;
}
.upload-submit-btn-section{
    margin:80px 0 80px 0;
    text-align:center;
    /*border:3px solid yellow;*/
}
.upload-submit-btn{
    padding:10px 40px 10px 40px;
    background: #FFE268;
    color:#363D47;
    border:none;
    cursor:pointer;
    display:inline;
    border-radius: 15px;
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    transition: 0.4s;
}
.upload-submit-btn:hover{
    background:#D6B942;
    color:white;
}