@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body.theme1 {
    --body-color:#363D47;
    --1-color:#FFE268;
    --2-color:#23a3a7;
    --3-color:#FFC0CB;
    --4-color:white;
    --5-color:black;
    --6-color:#D6B942;
    --7-color:#292929;
    --8-color:#363D47;
    --9-color:none;
}
body.theme2 {
    --body-color:#F8F8F8;
    --1-color:black;
    --2-color:#FF7800;
    --3-color:#FFC0CB;
    --4-color:black;
    --5-color:black;
    --6-color:#D6B942;
    --7-color:#292929;
    --8-color:#363D47;
    --9-color:white;
}
body.theme3{
    --body-color:#326EBD;
    --1-color:white;
    --2-color:white;
    --3-color:#326EBD;
    --4-color:#326EBD;
    --5-color:black;
    --6-color:#D6B942;
    --7-color:#292929;
    --8-color:#363D47;
    --9-color:white;
}
body{
    --line-color-0:none;
    --line-color-1:none;
    --line-color-2:none;
    --line-color-3:none;
    --line-color-4:none;
    --line-color-5:none;
    --line-color-6:none;
    --line-color-7:none;
    --line-color-8:none;
    --line-color-9:none;
}
body.line1{
    --line-color-0:red;
    --line-color-1:orange;
    --line-color-2:yellow;
    --line-color-3:yellowgreen;
    --line-color-4:green;
    --line-color-5:skyblue;
    --line-color-6:blue;
    --line-color-7:purple;
    --line-color-8:pink;
    --line-color-9:saddlebrown;
}
/*-------------------------------------------------------------*/
html {

}
body{
    background: var(--body-color);
    margin:0; /*마진xxx*/
}
.page-wrapper{
    border:3px solid var(--line-color-7);
}
.header-wrapper{
    border:3px solid var(--line-color-0);
    padding:40px 15% 40px 15%;
}
.banner-wrapper{
    border:3px solid var(--line-color-1);
    padding:130px 10% 0 15%;
    display:flex;
    flex-wrap:wrap;
}
.content-wrapper{
    border:3px solid var(--line-color-2);
    padding:50px 0;
    background:var(--9-color);
}

/*@media screen and (max-width: 1400px) {*/
/*    .banner-wrapper{*/
/*        padding:50px 10% 50px 10%;*/
/*    }*/
/*    .header-wrapper{*/
/*        padding:50px 10% 50px 10%;*/
/*    }*/
/*}*/
.header{
    border:3px solid var(--line-color-3);
    overflow:auto;
    margin:0 auto;
}
.logo-section{
    font-family: 'Itim', cursive;
    font-size:30pt;
    font-weight:bold;
    border:3px solid var(--line-color-4);
    margin:0;
    float:left;
    padding-left:10px;
}
.nav-logo{
    color:var(--4-color);
    text-decoration:none;
}
.navigation-section{
    border:3px solid var(--line-color-5);
    float:right;
}
.nav-btn{
    padding:10px 20px;
    color:var(--1-color);
    background:none;
    border:none;
    cursor:pointer;
    display:inline;
    border-radius: 15px;
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    transition: 0.4s;
    margin:0 10px;
}
.nav-btn:hover{
    background:var(--6-color);
    color:var(--4-color);
}
.nav-user-name{
    padding:10px 0 10px 20px;
    color:var(--4-color);
    background:none;
    border:none;
    display:inline;
    border-radius: 15px;
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    margin:0 0 0 10px;
    font-weight:normal;
}
.nav-logout-btn{
    padding:10px 20px;
    background: none;
    color:var(--2-color);
    border:none;
    cursor:pointer;
    display:inline;
    border-radius: 15px;
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    transition: 0.4s;
    margin:0 10px;
}
.nav-logout-btn:hover{
    background:var(--2-color);
    color:var(--4-color);
}