@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

body.theme1 {
    --body-color-1:#363D47;
    --body-color-2:none;
    --nav-logo-color:white;
    --nav-btn-color-1-text:#FFE268;
    --nav-btn-color-1-text-hover:white;
    --nav-btn-color-1-back-hover:#D6B942;
    --nav-btn-color-2:white;
    --nav-btn-color-3-text:#23a3a7;
    --nav-btn-color-3-text-hover:white;
    --nav-btn-color-3-back-hover:#23a3a7;
    --index-title-color:#FFE268;
    --index-content-color:#FFE268;
    --index-start-btn-color-text:#363D47;
    --index-start-btn-color-back:#23a3a7;
    --index-start-btn-color-text-hover:white;
    --manual-text-color:white;
    --upload-title-color:#FFE268;
    --upload-select-btn-color-text:white;
    --upload-select-btn-color-back:#23a3a7;
    --upload-name-color-text:black;
    --upload-name-color-back:white;
    --upload-submit-btn-color-text:#363D47;
    --upload-submit-btn-color-back:#FFE268;
    --upload-submit-btn-color-text-hover:white;
    --upload-submit-btn-color-back-hover:#D6B942;
    --list-th-color-text:#363D47;
    --list-th-color-back:pink;
    --login-and-join-title-color:black;
    --login-and-join-btn-color-text:#363D47;
    --login-and-joint-btn-color-back:#FFE268;
    --login-and-join-btn-color-text-hover:white;
    --login-and-join-btn-color-back-hover:#D6B942;
}
body.theme2 {
    --body-color-1:#326EBD;
    --body-color-2:white;
    --nav-logo-color:white;
    --nav-btn-color-1-text:white;
    --nav-btn-color-1-text-hover:#326EBD;
    --nav-btn-color-1-back-hover:white;
    --nav-btn-color-2:white;
    --nav-btn-color-3-text:white;
    --nav-btn-color-3-text-hover:#326EBD;
    --nav-btn-color-3-back-hover:white;
    --index-title-color:white;
    --index-content-color:white;
    --index-start-btn-color-text:#326EBD;
    --index-start-btn-color-back:white;
    --index-start-btn-color-text-hover:black;
    --manual-text-color:#326EBD;
    --upload-title-color:#326EBD;
    --upload-select-btn-color-text:white;
    --upload-select-btn-color-back:#326EBD;
    --upload-name-color-text:black;
    --upload-name-color-back:#E7EAED;
    --upload-submit-btn-color-text:#326EBD;
    --upload-submit-btn-color-back:white;
    --upload-submit-btn-color-text-hover:#2E64AB;
    --upload-submit-btn-color-back-hover:white;
    --list-th-color-text:white;
    --list-th-color-back:#326EBD;
    --login-and-join-title-color:black;
    --login-and-join-btn-color-text:white;
    --login-and-joint-btn-color-back:#326EBD;
    --login-and-join-btn-color-text-hover:white;
    --login-and-join-btn-color-back-hover:#2E64AB;


}
body.theme3{
    --body-color-1:#F8F8F8;
    --body-color-2:#F8F8F8;
    --nav-logo-color:black;
    --nav-btn-color-1-text:black;
    --nav-btn-color-1-text-hover:white;
    --nav-btn-color-1-back-hover:darkgray;
    --nav-btn-color-2:white;
    --nav-btn-color-3-text:#FF7800;
    --nav-btn-color-3-text-hover:white;
    --nav-btn-color-3-back-hover:#FF7800;
    --index-title-color:black;
    --index-content-color:black;
    --index-start-btn-color-text:white;
    --index-start-btn-color-back:#FF7800;
    --index-start-btn-color-text-hover:black;
    --manual-text-color:black;
    --upload-title-color:black;
    --upload-select-btn-color-text:white;
    --upload-select-btn-color-back:#FF7800;
    --upload-name-color-text:black;
    --upload-name-color-back:white;
    --upload-submit-btn-color-text:white;
    --upload-submit-btn-color-back:#FF7800;
    --upload-submit-btn-color-text-hover:black;
    --upload-submit-btn-color-back-hover:#FF7800;
    --list-th-color-text:black;
    --list-th-color-back:white;
    --login-and-join-title-color:black;
    --login-and-join-btn-color-text:white;
    --login-and-joint-btn-color-back:#FF7800;
    --login-and-join-btn-color-text-hover:black;
    --login-and-join-btn-color-back-hover:#FF7800;
}
body{
    --tool:hidden;
    --line-color-0:none;
    --line-color-1:none;
    --line-color-2:none;
    --line-color-3:none;
    --line-color-4:none;
    --line-color-5:none;
    --line-color-6:none;
    --line-color-7:none;
    --line-color-8:none;
    --line-color-9:none;
}
body.tool1{
    --tool:visible;
}
body.line1{
    --line-color-0:red;
    --line-color-1:orange;
    --line-color-2:yellow;
    --line-color-3:yellowgreen;
    --line-color-4:green;
    --line-color-5:skyblue;
    --line-color-6:blue;
    --line-color-7:purple;
    --line-color-8:pink;
    --line-color-9:saddlebrown;
}
/*-------------------------------------------------------------*/
.setting-tool{
    visibility:var(--tool);
}
body{
    background: var(--body-color-1);
    margin:0; /*마진xxx*/
    min-width:1024px;
}
.page-wrapper{
    border:3px solid var(--line-color-7);
}
.header-wrapper{
    border:3px solid var(--line-color-0);
    padding:40px 15% 40px 15%;
}
.banner-wrapper{
    border:3px solid var(--line-color-1);
    padding:170px 10% 0 15%;
    display:flex;
}
.content-wrapper{
    border:3px solid var(--line-color-2);
    padding:50px 0;
    background:var(--body-color-2);
}
.header{
    border:3px solid var(--line-color-3);
    overflow:auto;
    margin:0 auto;
}
.logo-section{
    font-family: 'Itim', cursive;
    font-size:30pt;
    font-weight:bold;
    border:3px solid var(--line-color-4);
    margin:0;
    float:left;
    padding-left:10px;
}
.nav-logo{
    color:var(--nav-logo-color);
    text-decoration:none;
}
.navigation-section{
    border:3px solid var(--line-color-5);
    margin-top:5px;
    float:right;
}
.nav-btn{
    padding:10px 20px;
    color:var(--nav-btn-color-1-text);
    background:none;
    border:none;
    cursor:pointer;
    display:inline;
    border-radius: 15px;
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    transition: 0.4s;
    margin:0 10px;
}
.nav-btn:hover{
    background:var(--nav-btn-color-1-back-hover);
    color:var(--nav-btn-color-1-text-hover);
}
.nav-user-name{
    padding:10px 0 10px 20px;
    color:var(--nav-btn-color-2);
    background:none;
    border:none;
    display:inline;
    border-radius: 15px;
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    margin:0 0 0 10px;
    font-weight:normal;
}
.nav-logout-btn{
    padding:10px 20px;
    background: none;
    color:var(--nav-btn-color-3-text);
    border:none;
    cursor:pointer;
    display:inline;
    border-radius: 15px;
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    transition: 0.4s;
    margin:0 10px;
}
.nav-logout-btn:hover{
    background:var(--nav-btn-color-3-back-hover);
    color:var(--nav-btn-color-3-text-hover);
}

/********************************************************************************/

@media screen and (max-width: 1500px) {
    body{
        min-width:850px;
    }
    .header-wrapper{
        padding:40px 8% 40px 8%;
    }
    .banner-wrapper{
        padding:0 8% 0 8%;
        flex-direction: column-reverse;
    }
    .index-left-section{
        margin:0 0 50px 0;
        width:100%;
        text-align:center;
    }
    .index-right-section{
        width:85%;
        margin:25px auto;
    }
    .manual-section-0{
        margin:0 8% 100px 8%;
        display:block;
        height:750px;
    }
    .manual-section-1{
        margin:0 8% 100px 8%;
        display:block;
        height:750px;
    }
    .manual-text{
        width:100%;
        padding-top:10px;
        padding-left:0;
        height:calc(25% - 10px);
        text-align:center;
    }
    .manual-text-title{
        margin:15px 0;
    }
    .manual-text-content{
        margin:0;
    }
    .manual-img{
        height:75%;
        width:100%;
    }
    .upload-file-section{
        display:block;
        padding:0 8% 50px 8%;
    }
    .upload-section{
        margin-bottom:50px;
    }
    .list-table-section{
        margin:50px 8%;
    }
    .content-wrapper-2{
        display:block;
        width:60%;
    }
    .result-left-section{
        width:100%;
        height:520px;
    }
    .result-video{
        max-height:520px;
    }
    .result-right-section{
        display:flex;
        margin:10px 0 0 0;
        width:98%;
        padding:10px 1%;
    }
    .result-image{
        height:180px;
    }
    .result-right-top-section{
        margin:0;
        width:35%;
    }
    .result-right-bottom-section{
        height:180px;
        width:65%;
    }
}
@media screen and (max-width: 500px) {
    body{
        min-width:320px;
    }
    .header-wrapper{
        padding:15px 10px 15px 10px;
    }
    .banner-wrapper{
        padding:0 10px 0 10px;
    }
    .content-wrapper{
        padding:10px 0;
    }
    .logo-section{
        float:none;
        text-align:center;
        margin-bottom:5px;
    }
    .navigation-section{
        float:none;
        text-align:center;
        width:300px;
        margin:0 auto;
    }
    .nav-btn, .nav-logout-btn {
        font-size:10pt;
        padding: 5px 5px;
        margin: 0;
    }
    .nav-user-name{
        font-size:10pt;
        padding: 5px 0 5px 5px;
        margin: 0;
    }
    .login-box-body, .join-box-body {
        transform:scale(0.8);
    }
    .login-box-body{
        width:270px;
    }
    .join-box-body{
        width:310px;
    }
    .join-form, .join-explain{
        margin-left:15px;
        margin-right:15px;
    }
    .index-content{
        width:300px;
        margin:5px auto;
        font-size:26pt;
    }
    .index-title{
        width:300px;
        margin:0 auto 30px auto;
        font-size:11pt;
    }
    .manual-section-0{
        margin:10px 10px 40px 10px;
        height:450px;
    }
    .manual-section-1{
        margin:10px 10px 40px 10px;
        height:450px;
    }
    .manual-text{
        padding-top:10px;
        height:calc(35% - 10px);
    }
    .manual-text-title{
        font-size:22pt;
    }
    .manual-text-content{
        font-size:10pt;
    }
    .manual-img{
        height:65%;
    }
    .upload-file-section{
        padding:5px 10px 30px 10px;
    }
    .upload-please{
        font-size:30pt;
    }
    .upload-section{
        width:300px;
    }
    .image-tn, .video-tn{
        width:300px;
        height:300px;
    }
    .image-file-container label,.video-file-container label{
        font-size:10pt;
        width:70px;
    }
    .image-file-container .img-filename,.video-file-container .vid-filename{
        font-size:10pt;
        width:210px;
    }
    .upload-submit-people{
        font-size:12pt;
        display:block;
        margin:0 auto;
    }
    .upload-submit-btn{
        font-size:12pt;
        display:block;
        margin:20px auto;
    }
    .list-table-section{
        background:none;
        margin:20px auto;
        width:300px;
    }
    .list-table-thumbnail-section{
        width:calc(100% - 10px);
        margin:0 5px;
    }
    table tr:first-child th:first-child {
        border-top-left-radius: 0;
    }
    table tr:first-child th:last-child {
        border-top-right-radius: 0;
    }
    table tr:last-child td:first-child {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    table tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    td:first-child:before{
        border-top-left-radius:10px;
    }
    td:last-child:before{
        border-bottom-left-radius:10px;
    }
    thead {
        display:none;
    }
    tr {
        display:block;
        margin-bottom:70px;
        border-top:none;
    }
    th, td {
        display:block;
        position:relative;
        padding:5px 0 5px 20%;
        border-bottom:1px solid #D6D6D6;
        background:white;
    }
    td:before {
        display:block;
        position:absolute;
        left:0;
        top:0;
        width:20%;
        padding:5px 0;
        text-align:center;
        background:var(--list-th-color-back);
        font-family: 'SLEIGothicTTF';
        color:var(--list-th-color-text);
        font-weight: normal;
        height:calc(100% - 10px);
        border-bottom:1px solid #D6D6D6;
    }

    td:nth-child(1):before {content:'No.';}
    td:nth-child(2):before {content:'이미지';}
    td:nth-child(3):before {content:'동영상';}
    td:nth-child(4):before {content:'업로드';}
    td:nth-child(5):before {content:'프로세스';}
    td:nth-child(6):before {content:'썸네일';}
    td:nth-child(7):before {content:'결과';}

    .content-wrapper-2{
        width:90%;
        margin-top:15px;
    }
    .result-left-section{
        height:300px;
    }
    .result-video{
        max-height:300px;
    }
    .result-right-section{
        flex-direction: column-reverse;
        margin:10px 0 0 0;
        width:98%;
        padding:10px 1%;
    }
    .result-image{
        height:200px;
    }
    .result-right-top-section{
        width:80%;
        margin:30px auto;
    }
    .result-right-bottom-section{
        width:100%;
        height:300px;
    }
}