.upload-file-section{
    border:3px solid var(--line-color-3);
    display:flex;
    padding:0 15% 30px 15%;
}
.upload-please{
    border:3px solid var(--line-color-4);
    text-align:center;
    margin:0px auto;
    font-family: 'Itim', cursive;
    font-size:60pt;
    color:var(--upload-title-color);
}
.upload-section{
    border:3px solid var(--line-color-5);
    margin:0 auto;
    width:500px;
}
.upload-section-in{
    border:3px solid var(--line-color-6);
    margin:0 auto;
}
.image-tn{
    border:2px solid var(--line-color-7);
    object-fit:contain;
    width:500px;
    height:500px;
    background:#292929;
    border-radius: 15px;
}
.video-tn{
    border:2px solid var(--line-color-8);
    object-fit:contain;
    width:500px;
    height:500px;
    background:#292929;
    border-radius: 15px;
}
#video_container2, #video_container3{
    display:none;
}
.image-file-container{
    border:2px solid var(--line-color-9);
    margin-top:5px;
}
.image-file-container label{
    border:2px solid var(--line-color-0);
    border-radius: 10px;
    text-align:center;
    display:inline-block;
    background:var(--upload-select-btn-color-back);
    color:var(--upload-select-btn-color-text);
    cursor:pointer;
    width:85px;
    padding:8px 0 5px 0;
    font-family: 'NanumBarunGothic';
}
.image-file-container label:after{
    content:"파일선택";
}
.image-file-container .image-file-input{
    display:none;
}
.image-file-container .img-filename{
    border:2px solid var(--line-color-1);
    color:var(--upload-name-color-text);
    background:var(--upload-name-color-back);
    border-radius: 10px;
    display:inline-block;
    padding:8px 0 5px 10px;
    width:395px;
    font-family: 'NanumBarunGothic';
}
.video-file-container{
    border:2px solid var(--line-color-2);
    margin-top:5px;
}
.video-file-container label {
    border:2px solid var(--line-color-3);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    background: var(--upload-select-btn-color-back);
    color: var(--upload-select-btn-color-text);
    cursor: pointer;
    width:85px;
    padding:8px 0 5px 0;
    font-family: 'NanumBarunGothic';
}
.video-file-container label:after{
    content:"파일선택";
}
.video-file-container .video-file-input{
    display:none;
}
.video-file-container .vid-filename{
    border:2px solid var(--line-color-4);
    color:var(--upload-name-color-text);
    background:var(--upload-name-color-back);
    border-radius: 10px;
    display:inline-block;
    padding:8px 0 5px 10px;
    width:395px;
    font-family: 'NanumBarunGothic';
}
.upload-submit-btn-section{
    border:2px solid var(--line-color-5);
    text-align:center;
}
.upload-submit-people{
    text-align:center;
    padding:10px 5px 10px 5px;
    border:none;
    display:inline;
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    margin:0;
}
.upload-submit-btn{
    padding:10px 40px 10px 40px;
    background: var(--upload-submit-btn-color-back);
    color:var(--upload-submit-btn-color-text);
    border:none;
    cursor:pointer;
    display:inline;
    /*border-radius: 15px;*/
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    transition: 0.4s;
    margin:0;
}
.upload-submit-btn:hover{
    background:var(--upload-submit-btn-color-back-hover);
    color:var(--upload-submit-btn-color-text-hover);
}