body {
    background-color:#34495e
}
.index-title{
    color:yellow;
}

/*index : 로그인, 회원가입 div*/
.index{
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%); /*기준점을 가운데로*/
}

.index-btn{
    margin-left:15px;
    margin-right:15px;
    margin-top: 60px;
    margin-bottom: 40px;
    width:100px;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    border-radius: 15px;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}
.index-btn:hover{
    background-position: right;
}

/*메인화면 슬라이드*/

.section input[id*="slide"] {display:none;}
.section .slidewrap {max-width:1200px;margin:0 auto;}
.section .slidelist {white-space:nowrap;font-size:0;overflow:hidden;position:relative;}
.section .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;}
.section .slidelist > li > a {display:block;position:relative;}
.section .slidelist > li > a img {width:100%;}
.section .slidelist label {position:absolute;z-index:10;top:50%;transform:translateY(-50%);padding:50px;cursor:pointer;}
.section .slidelist .textbox {position:absolute;z-index:1;top:50%;left:50%;transform:translate(-50%,-50%);line-height:1.6;text-align:center;}
.section .slidelist .textbox h3 {font-size:36px;color:#fff;;transform:translateY(30px);transition:all .5s;}
.section .slidelist .textbox p {font-size:16px;color:#fff;opacity:0;transform:translateY(30px);transition:all .5s;}

/* input에 체크되면 슬라이드 효과 */
.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}

/* 좌,우 슬라이드 버튼 */
.slide-control > div {display:none;}
.section .left {left:30px;background:url('/img/left.png') center center / 100% no-repeat;}
.section .right {right:30px;background:url('/img/right.png') center center / 100% no-repeat;}
.section input[id="slide01"]:checked ~ .slidewrap .slide-control > div:nth-child(1) {display:block;}
.section input[id="slide02"]:checked ~ .slidewrap .slide-control > div:nth-child(2) {display:block;}
.section input[id="slide03"]:checked ~ .slidewrap .slide-control > div:nth-child(3) {display:block;}

/* 페이징 */
.slide-pagelist {text-align:center;padding:20px;}
.slide-pagelist > li {display:inline-block;vertical-align:middle;}
.slide-pagelist > li > label {display:block;padding:8px 8px;border-radius:30px;background:#ccc;margin:0px 30px 30px 30px;cursor:pointer;}
.section input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {background:#999;}
.section input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {background:#999;}
.section input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {background:#999;}

/*로그인 화면*/
.login-box-body {
    position:absolute;
    width:300px;
    height:400px;
    padding: 30px 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
.login-box-title{
    text-align: center;
    margin: 30px;
}
.login-box-msg{
    font-size:14px;
}
.login-form{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;

}
.login-input{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}
.login-btn{
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}
.login-btn:hover{
    background-position: right;
}

/*회원가입 화면*/
.join-box-body{
    position:absolute;
    width:500px;
    height:700px;
    padding: 30px 20px;
    background-color:#FFFFFF;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
.join-box-title{
    text-align: center;
    margin: 30px;
}
.join-form{
    border-bottom: 2px solid #adadad;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 10px;

}
.join-input{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}
.join-explain{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    font-size:12px;
}
.join-btn{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 40px;
    width:50%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}
.join-btn:hover{
    background-position: right;
}