.list-table-section{
    border:3px solid var(--line-color-0);
    margin:50px auto;
    max-width:1200px;
    border-radius: 15px;
    min-height:1500px;
    padding-bottom:15px;
    background:white;
}
.list-table-content{
    border:3px solid var(--line-color-1);
    width:100%;
    border-collapse: collapse;
    table-layout:fixed;
    word-break:break-all;
}
/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 15px;
}
/* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 15px;
}
/* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
/* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}
th{
    padding:5px 10px;
    text-align:center;
    background:var(--list-th-color-back);
    font-family: 'SLEIGothicTTF';
    color:var(--list-th-color-text);
    font-weight: normal;
}
td{
    background:#FFFFFF;
    text-align:center;
    border-bottom:1px solid #D6D6D6;
    padding: 0px 10px;
    font-family: 'Nunito', sans-serif;
}
.list-table-thumbnail{
    margin:10px 0 5px 0;
    object-fit:contain;
    width:120px;
    height:120px;
}
.list-result-btn{
    border:1px solid #363D47;
    width:85px;
    height:35px;
    background:#F1F3F4;
    border-radius:5px;
    cursor:pointer;
}
.list-result-btn:hover{
    background:#E0E0E0;
}