.box-wrapper{
    border:3px solid var(--line-color-0);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}/*로그인 화면*/
.login-box-body {
    border:3px solid var(--line-color-1);
    width:300px;
    height:400px;
    padding: 30px 20px;
    background-color:#FFFFFF;
    border-radius: 15px;
    text-align:center;
}
.login-logo-section{
    text-align: center;
    margin: 10px 0 40px 0;
}
.login-logo{
    font-family: 'Itim', cursive;
    text-decoration:none;
    font-size:30pt;
    color:var(--login-and-join-title-color);
    font-weight:bold;
    text-align: center;
    margin: 10px 0 40px 0;
}
.login-form{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}
.login-input{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}
.login-btn{
    margin-top:30px;
    margin-bottom:50px;
    width:200px;
    height:40px;
    background: var(--login-and-joint-btn-color-back);
    color:var(--login-and-join-btn-color-text);
    border:none;
    cursor:pointer;
    display:inline;
    border-radius: 15px;
    font-size:14pt;
    transition: 0.4s;
    font-family: 'SLEIGothicTTF';
}
.login-btn:hover{
    background:var(--login-and-join-btn-color-back-hover);
    color:var(--login-and-join-btn-color-text-hover);
}
.login-no-account{
    font-weight:normal;
    color:gray;
    font-family: 'SLEIGothicTTF';
    font-size:10pt;
}
.login-join-href{
    padding:5px;
    border:none;
    background:none;
    color:#363D47;
    cursor:pointer;
    font-family: 'SLEIGothicTTF';
    font-size:10pt;
}
/*회원가입 화면*/
.join-box-body{
    border:3px solid var(--line-color-2);
    width:350px;
    height:520px;
    padding: 30px 20px;
    background-color:#FFFFFF;
    border-radius: 15px;
}
.join-logo-section{
    text-align: center;
    margin: 10px 0 40px 0;
}
.join-logo{
    font-family: 'Itim', cursive;
    text-decoration:none;
    font-size:30pt;
    color:var(--login-and-join-title-color);
    font-weight:bold;
}
.join-form{
    border-bottom: 2px solid #adadad;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 10px;
}
.join-input{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}
.join-explain{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    font-size:12px;
}
.join-btn{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    width:220px;
    height:40px;
    background: var(--login-and-joint-btn-color-back);
    color:var(--login-and-join-btn-color-text);
    border:none;
    cursor:pointer;
    display:inline;
    border-radius: 15px;
    font-size:14pt;
    transition: 0.4s;
    font-family: 'SLEIGothicTTF';
}
.join-btn:hover{
    background:var(--login-and-join-btn-color-back-hover);
    color:var(--login-and-join-btn-color-text-hover);
}

