.list-table-section{
    border:3px solid var(--line-color-0);
    margin:50px 20%;
    border-radius: 15px;
    min-height:1500px;
    padding-bottom:15px;
    background:white;
}
.list-table-content{
    border:3px solid var(--line-color-1);
    width:100%;
    border-collapse: collapse;
    table-layout:fixed;
    word-break:break-all;
}
table tr:first-child th:first-child {
    border-top-left-radius: 15px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 15px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}
th{
    padding:5px 10px;
    text-align:center;
    background:var(--list-th-color-back);
    font-family: 'SLEIGothicTTF';
    color:var(--list-th-color-text);
    font-weight: normal;
}
td{
    background:#FFFFFF;
    text-align:center;
    /*border-right:1px solid #D6D6D6;*/
    border-bottom:1px solid #D6D6D6;
    padding: 0 10px;
    font-family: 'NanumBarunGothic';
}
.list-table-thumbnail-section{
    border:3px solid var(--line-color-3);
    position:relative;
    margin:5px 5px;
    width:100%;
    padding-bottom:100%;
}
.list-table-thumbnail{
    border:3px solid var(--line-color-7);
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
}
.list-table-thumbnail img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.list-result-btn{
    border:1px solid #BBBBBB;
    padding:5px 15%;
    background:#F1F3F4;
    border-radius:5px;
    cursor:pointer;
    font-family: 'NanumBarunGothic';
}
.list-result-btn:hover{
    background:#E0E0E0;
}