.index-left-section{
    border:3px solid var(--line-color-6);
    margin:100px 0 100px 0; /*margin-top으로 왼쪽구역 높이조절*/
    width:45%;
}
.index-content{
    border:3px solid var(--line-color-7);
    padding:5px;
    margin-top:0;
    margin-bottom:20px;
    font-family: 'BBTreeGB';
    color:var(--index-content-color);
    font-size:44pt;
}
.index-title{
    border:3px solid var(--line-color-8);
    margin-top:0;
    font-family: 'BBTreeGB';
    padding:5px;
    color:var(--index-title-color);
    font-size:20pt;
}
.index-start-btn{
    background: var(--index-start-btn-color-back);
    color:var(--index-start-btn-color-text);
    border:none;
    padding:10px 20px 10px 20px;
    cursor:pointer;
    border-radius: 15px;
    font-size:14pt;
    font-family: 'SLEIGothicTTF';
    transition: 0.4s;
}
.index-start-btn:hover{
    background:var(--index-start-btn-color-back);
    color:var(--index-start-btn-color-text-hover);
}
.index-right-section{
    border:3px solid var(--line-color-9);
    width:calc(55% - 50px);
    margin-left:50px;
}
.index-image{
    filter: drop-shadow(5px 5px 5px #000);
    object-fit:contain;
    width:100%;
    height:100%;
}