<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeAttack</title>
    <link rel="stylesheet" type="text/css" href="/css/style_index.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

</head>

<body>
<div class="page-wrapper">
    <div class="index-left-section">
        <p class="index-content"> 얼굴인식 기반 동영상 인덱싱 시스템</p>
        <h1 class="index-title">Time Attack</h1>
        <a href="manual" class="index-more">더 알아보기 -></a>
        <div class="index-section">
            <input type="button" class="index-btn" value="로그인" onClick="location.href='login'"/>
            <input type="button" class="index-btn" value="회원가입" onClick="location.href='join'"/>
        </div>
    </div>
    <div class="index-right-section">
        <img class="index-image" src="/img/moni.png"/>
    </div>
</div>
</body>
</html>