<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeAttack</title>
    <link rel="stylesheet" type="text/css" href="/css/style_index.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>

<body>
<div class="page-wrapper">
    <div class="index-left-section">
        <h1 class="index-title">Time Attack</h1>
        <p class="index-content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque eos nisi quod, sunt
            suscipit voluptatibus. A asperiores autem culpa error, eveniet hic magnam nesciunt odio placeat, quas rerum
            saepe. </p>
        <div class="index-section">
            <input type="button" class="index-btn" value="로그인" onClick="location.href='login'"/>
            <input type="button" class="index-btn" value="회원가입" onClick="location.href='join'"/>
        </div>
    </div>
    <div class="index-right-section">
        <img class="index-image" src="/img/moni.png"/>
    </div>
</div>
</body>
</html>