<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="join" method="post">
    <div class="form-group has-feedback">
        <input type="text" class="form-control" name="userName" id="userName" placeholder="Name" size="25">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>

        <input type="text" class="form-control" name="loginId" id="loginId" placeholder="ID" size="25">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
        <input type="text" class="form-control" name="loginPw" id="loginPw" placeholder="PW" size="56">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>


    <div class="row">
        <!-- /.col -->
        <div class="col-xs-4" style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary btn-block btn-flat">입력</button>
        </div>
        <!-- /.col -->
    </div>
</form>
</body>
</html>