<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<!--로그인이 되어있이면 로그아웃만 보임-->
{{#userdata}}
<!--<a href="logout" class="btn btn-default btn-flat" style="text-decoration:none; color: #222222">로그아웃</a>-->
<meta http-equiv="refresh" content="0;url=list">
{{/userdata}}

<!--로그인이 안되어있어야 가입 가능-->
{{^userdata}}
{{#error}}
<h3>회원가입이 불가합니다. 다른 ID를 입력해주세요</h3>
<h3>{{error}}</h3>
{{/error}}

<form action="/join" method="post" name="loginForm" , id="loginForm">
    <div class="join-box-body">
        <h2 class="join-box-title">Join</h2>
        <div class="form-group-has-feedback">
            <div class="join-form">
                <input type="text" class="join-input" name="userName" id="userName" placeholder="Name"><br>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <p id="nameError" class="join-explain" display='none'>*이름을 공백 없이 2~5자로 입력해주세요.</p>
            <div class="join-form">
                <input type="text" class="join-input" name="loginId" id="loginId" placeholder="ID"><br>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <p id="idError" class="join-explain" display='none'>*ID는 공백 없이 영어문자나 숫자를 이용해 6~12자 입력해주세요.</p>
            <div class="join-form">
                <input type="password" class="join-input" name="loginPw" id="loginPw" placeholder="PW"><br>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <p id="pwError" class="join-explain" display='none'>*비밀번호는 공백 없이 영어문자나 숫자를 이용해 6~20자 입력해주세요.</p>
        </div>

        <div class="row">
            <!-- /.col -->
            <div class="col-xs-4" style="padding-top: 10px;">
                <button type="button" class="join-btn" onclick="checkForm()">회원가입</button>
            </div>
            <!-- /.col -->
        </div>
    </div>
</form>
{{/userdata}}
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    //난해하군...난 여기서 유효성 검사하고 넘기고싶은데, 유효성 검사하고 페이지 전환이 일어남-->reload되는건 해결. 그래서 빨간글씨 다시 검게 됨
    function checkForm() {
        var userName = $("#userName").val();
        var userId = $("#loginId").val();
        var userPw = $("#loginPw").val();
        var error = 0;

        var toCheckName = /^[가-힣a-zA-Z0-9]{2,5}$/;
        var toCheckId = /^[a-zA-Z0-9]{6,12}$/;
        var toCheckPw = /^[a-zA-Z0-9]{6,20}$/;

        if (toCheckName.test(userName)) {
            //console.log("name"+toCheckName.test(userName));
            //$("#nameError").hide();
            $("#nameError").css('color', 'black');
        } else {
            error++;
            //$("#nameError").show();
            $("#nameError").css('color', 'red');
        }

        if (toCheckId.test(userId)) {
            //console.log("id"+toCheckName.test(userId));
            //$("#idError").hide();
            $("#idError").css('color', 'black');
        } else {
            error++;
            //$("#idError").show();
            $("#idError").css('color', 'red');

        }

        if (toCheckPw.test(userPw) == true) {
            //console.log("pw"+toCheckName.test(userPw));
            //$("#pwError").hide();
            $("#pwError").css('color', 'black');
        } else {
            error++;
            //$("#pwError").show();
            $("#pwError").css('color', 'red');
        }

        if (error == 0) document.loginForm.submit();
        else error = 0;
    }
</script>
</html>