<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        {{^userdata}}
        <a href="login">로그인 하러 가기</a>
        {{/userdata}}


        {{#userdata}}
        <a href="logout" class="btn btn-default btn-flat" style="text-decoration:none; color: #222222">로그아웃</a>

        <a href="upload">업로드 하러 가기</a>

        <div>{{userName}}</div>

        <!--리스트 관련된걸로 해시맵 만들어서 하면 될거같은디 반복 돌려서 테이블 만드는거-->
        <table>
            <th>No.</th>
            <th>Image File Name</th>
            <th>Video File Name</th>
            <th>Upload</th>
            <th>Process</th>
            <th>result</th>

            {{#file}}
            <tr>
                <td>{{no}}</td>
                <td>{{imageFileName}}</td>
                <td>{{videoFileName}}</td>
                <td>{{upload}}</td>
                <td>{{process}}</td>

                <td><button value="result" disabled="disabled">결과 보기</button></td>
            </tr>
            {{/file}}
        </table>
        {{/userdata}}
    </body>
</html>