<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style_list.css"/>
</head>
<body>
<div class="page-wrapper">
    {{^userdata}}
    <a href="login">로그인 하러 가기</a>
    {{/userdata}}


    {{#userdata}}
    <div class="list-user-section">
        {{userName}} 님
<!--        <a href="logout">로그아웃</a>-->
        <button type="button" onclick="location.href='logout'">로그아웃</button>
    </div>
    <div class="list-go-upload">
<!--        <a href="upload">업로드 하러 가기</a>-->
        <button type="button" onclick="location.href='upload'">업로드 하러 가기</button>
    </div>


    <!--리스트 관련된걸로 해시맵 만들어서 하면 될거같은디 반복 돌려서 테이블 만드는거-->
    <div class="list-table-section">
        <table class="list-table-content">
            <th>No.</th>
            <th>Image File Name</th>
            <th>Video File Name</th>
            <th>Upload</th>
            <th>Process</th>
            <th>Thumbnail</th> <!-- 영상 썸네일이어야  -->
            <th>result</th>

            {{#file}}
            <tr>
                <td>{{no}}</td>
                <td>{{imageFileName}}</td>
                <td>{{videoFileName}}</td>
                <td>{{upload}}</td>
                <td>{{process}}</td>
                <td><img src="/file/image/{{imgSavedName}}"></td>
<!--                <td><img class="list-table-thumbnail" src="/img/moni.png"/></td>-->
                <td>
                    <button value="result" disabled="disabled">결과 보기</button>
                </td>
            </tr>
            {{/file}}
        </table>
    </div>
    {{/userdata}}

</div>
</body>
</html>