<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style_manual.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style_header.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="site-logo">T.A.</div>
    <div class="navigation-section">
        <input type="button" class="nav-btn" value="홈" onClick="location.href='index'"/>
        <input type="button" class="nav-btn" value="소개" onClick="location.href='manual'"/>
        <input type="button" class="nav-btn" value="업로드" onClick="location.href='upload'"/>
        <input type="button" class="nav-btn" value="리스트" onClick="location.href='list'"/>
        {{^userdata}}
        <input type="button" class="nav-btn" value="로그인" onClick="location.href='login'"/>
        <input type="button" class="nav-btn" value="회원가입" onClick="location.href='join'"/>
        {{/userdata}}
        {{#userdata}}
        <span class="nav-user-name">{{userName}} 님</span>
        <input type="button" class="nav-logout-btn" value="로그아웃" onClick="location.href='logout'"/>
        {{/userdata}}
    </div>
</div>
<div class="page-wrapper">
  <p>시스템이 제공하는 것들....
  1. 업로드 화면은 이렇고...
  2. 결과 화면은 이렇고...
  3. 리스트 화면은 이렇고...
    마지막에 추가...
  </p>
</div>
</body>
</html>