<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeAttack</title>
    <link rel="stylesheet" type="text/css" href="/css/style_upload.css"/>
</head>
<body>
<div class="page-wrapper">
    {{^userdata}}
    <!--    <h3>로그인 후에 이용 가능합니다.</h3>-->
    <!--    <a href="login">로그인 하러 가기</a>-->
    <meta http-equiv="refresh" content="0;url=index">
    {{/userdata}}

    {{#userdata}}
    <form method="post" action="upload" enctype="multipart/form-data" name="fileForm" id="fileForm">
        <div class="upload-file-section">
            <div class="upload-image-section">
                <p id="imgError">이미지 파일을 선택해주세요.</p>
                <div class="upload-image-section-in">

                    <img id="image_container" class="image-tn">
                    <input type="file" name="imgFile" id="imgFile" accept="image/*" onchange="setThumbnail(this);"/><br>
                </div>

            </div>
            <div class="upload-video-section">
                <p id="vidError">비디오 파일을 선택해주세요.</p>
                <div class="upload-video-section-in">

                    <img id="video_container" class="video-tn">
                    <video id="video_container2" controls>
                        <source type="video/mp4">
                    </video> <!--webm도 일단 작동-->
                    <canvas id="video_container3"></canvas>
                    <input type="file" name="vidFile" id="vidFile" accept="video/*"/><br>
                </div>

            </div>
        </div>

        <!--accept="image/png, image/jpeg" 이 속성으로 파일 제한 할 수 있음-->
        <div class="submit-btn-section">
            <input type="button" class="upload-btn" onclick="checkFile()" value="전송"/>
        </div>
    </form>
    {{/userdata}}
</div>
</body>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function checkFile() {
        var imgFile = $("#imgFile").val()
        var vidFile = $("#vidFile").val()

        var error = 0;

        if (imgFile.length == 0) {
            error++;
            $("#imgError").show();
            $("#imgError").css('color', 'red');
        } else {
            $("#imgError").hide();
        }

        if (vidFile.length == 0) {
            error++;
            $("#vidError").show();
            $("#vidError").css('color', 'red');
        } else {
            $("#vidError").hide();
        }

        if (error == 0) document.fileForm.submit();
        else error = 0;
    }

    /*이미지 미리보기*/
    function setThumbnail(f) {
        var file1 = f.files;

        /*확장자 제한시 if else 추가*/

        // FileReader 객체 사용
        var reader = new FileReader();
        // 파일 읽기가 완료되었을때 실행
        reader.onload = function (rst) {
            document.getElementById('image_container').src = rst.target.result;
        }
        // 파일을 읽는다
        reader.readAsDataURL(file1[0]);
    }

    /*동영상 미리보기*/
    $(function () {
        var video = $("#video_container2");
        var thumbnail = $("#video_container3");
        var ctx = thumbnail.get(0).getContext("2d");
        var duration = 0;
        var img = $("#video_container");

        $('#vidFile').on("change", function (e) {
            var file = e.target.files[0];
            /*// Validate video file type
            if (["video/mp4"].indexOf(file.type) === -1) {
                alert("Only 'MP4' video format allowed.");
                return;
            }*/
            // Set video source
            video.find("source").attr("src", URL.createObjectURL(file));
            // Load the video
            video.get(0).load();
            // Load metadata of the video to get video duration and dimensions
            video.on("loadedmetadata", function (e) {
                duration = video.get(0).duration;
                // Set canvas dimensions same as video dimensions
                thumbnail[0].width = video[0].videoWidth;
                thumbnail[0].height = video[0].videoHeight;
                // Set video current time to get some random image
                video[0].currentTime = Math.ceil(duration / 2);
                // Draw the base-64 encoded image data when the time updates
                video.one("timeupdate", function () {
                    ctx.drawImage(video[0], 0, 0, video[0].videoWidth, video[0].videoHeight);
                    img.attr("src", thumbnail[0].toDataURL());
                });
            });
        });
    });
</script>
</html>