<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeAttack</title>
</head>
<body>
    {{^userdata}}
    <h3>로그인 후에 이용 가능합니다.</h3>
    <a href="login">로그인 하러 가기</a>
    {{/userdata}}

    {{#userdata}}
    <form name="form" method="post" action="upload" enctype="multipart/form-data">
        <input type="file" name="imgFile"/>
        <input type="file" name="vidFile"/>
        <!--accept="image/png, image/jpeg" 이 속성으로 파일 제한 할 수 있음-->
        <input type="submit" id="submit" value="전송"/>
    </form>
    {{/userdata}}
</body>
</html>